/*
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #67a9b3;
}

.blob {
    position: absolute;
    width: 1000px;
    height: 1000px;
    z-index: 2;
}



p
{
    align-self: center;
    margin-top: -50%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.blob:nth-child(2){
    filter: blur(50px);
    z-index: 1;
}
*/

.new{
    fill: red;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition:.3s;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition:.3s;
    transform-box: fill-box;
    
    transition: ease 0.3s;
}

.new:hover{
    fill: aqua;
    -webkit-transform: scale(1.5);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition:.3s;
    transform: scale(1.5);
    transform-origin: 50% 50%;
    transition:.3s;
    
    cursor:pointer;
}

.slideout {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35em;
    background-color: white;
    border-right: 0.063em solid lighten(gray-light, 30%);
    transform: translateX(-100%);
}

.svg-container {
    position: relative;
    width: 800px;
    height: 800px;
    transition: transform 0.3s, top ease 0.5s;
    
}

.new2 {
    background-color: black;
}

.new3 {
    fill: green;
}
#blob-div {
    width: 100px;
    height: 100px;
    background-color: green;
}

