/*
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #67a9b3;
}

.blob {
    position: absolute;
    width: 1000px;
    height: 1000px;
    z-index: 2;
}



p
{
    align-self: center;
    margin-top: -50%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.blob:nth-child(2){
    filter: blur(50px);
    z-index: 1;
}
*/

section {
    align-items: center;
    justify-content: center;
}
.new{
    fill: red;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition:.3s;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition:.3s;
    transform-box: fill-box;
    align-self: center;
    transition: ease 0.3s;
}

.new:hover{
    fill: aqua;
    -webkit-transform: scale(1.5);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition:.3s;
    transform: scale(1.5);
    transform-origin: 50% 50%;
    transition:.3s;
    
    cursor:pointer;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.slideout {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 35em;
    background-color: white;
    border-right: 0.063em solid lighten(gray-light, 30%);
    transform: translateX(0);
    transition: transform 0.3s;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow to the left side */
}


.drawer--open-right {
    background-color: #ddffd9;
    right: 0;
    min-width: 60vw;
    height: 100vh;
    position: absolute;

    display: none; /* Start with drawer hidden */
    pointer-events: none; /* Disable interactions */
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
}


.drawer--open-right.open {
    display: block;
     /* Show drawer when it has the 'open' class */
    pointer-events: auto; /* Enable interactions */
    background-color: #ddffd9;
    right: 0;
    min-width: 60vw;
    height: 100vh;
    position: absolute;
    pointer-events: none; /* Disable interactions */
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
}


.svg-container {
    position: fixed;
    transition: transform 0.3s, top ease 0.5s;
    width: 500px;
    height: 500px;
    left: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.svg-onDrawer {
    fill: green;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition:.3s;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition:.3s;
    transform-box: fill-box;
    transition: ease 0.3s;
}

#blob-div {
    width: 300px;
    height: 300px;
    background-color: green;
    transition: ease 0.3s;
}


